<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/data/neo4j
              http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
              http://www.springframework.org/schema/tx
		      http://www.springframework.org/schema/tx/spring-tx.xsd
		      http://www.springframework.org/schema/context
		      http://www.springframework.org/schema/context/spring-context.xsd">

       <context:annotation-config/>

       <neo4j:repositories base-package="repositories"/>

       <neo4j:config graphDatabaseService="graphDatabaseService"
                     base-package="models"/>

       <bean id="graphDatabaseService"
             class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
              <constructor-arg index="0" value="http://127.0.0.1:7474/db/data/" />
              <constructor-arg index="1" value="" />
              <constructor-arg index="2" value="" />
       </bean>

        <bean id="neo4jTemplate"
              class="org.springframework.data.neo4j.support.Neo4jTemplate">
            <constructor-arg index="0" ref="graphDatabaseService" />
        </bean>

       <context:component-scan base-package="controllers, services, actions" />

    <tx:annotation-driven mode="proxy"/>

       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
       <bean id="authenticatedAction" class="play.mvc.Security$AuthenticatedAction"/>
</beans>